body{
    margin: 0px;
    padding: 0px;
    font-family: 'Galada', cursive;

}
.left{
    /* border: 2px solid red; */
    position: absolute;
    left: 34px;
    top: 20px;
}
.left img{
    margin: 0px 50px;
    width: 100px;
    height: 100px;
    border: solid white;
    border-radius: 10px;
}
.left div{
    font-size: 15px;
    text-align: center;
}
.center{
    /* border: 2px solid green; */
    display: block;
    width: 33%;
    margin: 30px auto;
}
.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
    
}
.navbar li a{
    border: 2px solid white;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    padding: 23px 23px;
}
.navbar li a:hover{
    color: tomato;
}
.right{
    /* border: 2px solid yellow; */
    position: absolute;
    right: 34px;
    top: 20px;
}
.btn{
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    background-color: black;
    width: 90px;
    padding: 4px;
    margin: 4px;
    cursor: pointer;
    font-family: 'Galada', cursive;

}
.btn:hover{
    color:tomato;
}
.container{
    margin: 200px;
    padding: 10px;
    border:2px solid white;
    width: 300px;
    border-radius: 10px;
}
.form-group input{
    border-radius: 10px;
    text-align: center;
    font-family: 'Galada', cursive;
}